<div class="row">
  <div data-hook="admin_vendor_form_fields" class="col-xs-12 col-md-6">
    <div data-hook="variants">

      <div class="form-group" data-hook="name">
        <%= f.label :name, Spree.t(:name) %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group" data-hook="business_type">
        <%= f.label :business_type, "Business type" %>
        <%= f.text_field :business_type, class: 'form-control' %>
      </div>

      <div class="form-group" data-hook="phone">
        <%= f.label :phone, "Phone" %>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>

      <div class="form-group" data-hook="web">
        <%= f.label :web, "Web" %>
        <%= f.text_field :web, class: 'form-control' %>
      </div>

      <div class="form-group" data-hook="address">
        <%= f.label :address, Spree.t(:address) %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group" data-hook="cost_price">
        <%= f.label :commission, Spree.t(:commission) %>
        <div class="input-group">
        <%= f.number_field :commission, value: number_to_currency(@vendor.commission, min: '0', max: '100', step: '0.01'), class: 'form-control' %>
        <div class="input-group-addon">%</div>
        </div>
      </div>
    </div>
  </div>
</div>